node_modules
.DS_Store
/TODO
dist
/esout
/slug-out

/test-results/
/playwright-report/
/playwright/.cache/
/utils/built-slugs/
/utils/electron-out/
/node_20.10.0
/tests/cached-nodes/

tsconfig.tsbuildinfo
