.editor {
  line-height: 1.4em;
  letter-spacing: 0;
  cursor: text;
  position: absolute;
  inset: 0;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}
.header {
  padding: 2px 2px;
  overflow: hidden;
  color: #d4d4d4;
  flex: 0 1 auto;
  user-select: none;
  -webkit-user-select: none;
}
.header > .title {
  flex: 0 1 auto;
  text-align: center;
  text-overflow: ellipsis;
  cursor: default;
}
.header > .close {
  position: absolute;
  right: 0;
  top: 0;
  appearance: none;
  -webkit-appearance: none;
  padding: 2px;
}
.header > .lds-dual-ring {
  display: none;
  position: absolute;
  right: 20px;
  top: 0;
  appearance: none;
  -webkit-appearance: none;
  padding: 2px;
}
.header.loading > .lds-dual-ring {
  display: block;
}
.header > .close:hover {
  background: rgba(128,128,128,0.75);
  border-radius: 5px;
}
.editor-container {
  position: relative;
  flex: 1;
  overflow: hidden;
}
.codicon-close {
  width: 16px;
  height: 16px;
  -webkit-mask: url(./codicon-close.svg);
  -webkit-mask-position: center;
  mask: url(./codicon-close.svg);
  mask-position: center;
  background-color: #d1d1d1;
}

.editor-hover {
  border: 1px solid #333;
  background: #222;
  color: #f1f1f1;
}

.lds-dual-ring {
  width: 16px;
  height: 16px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 9px;
  height: 9px;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid #d1d1d1;
  border-color: #d1d1d1 transparent #d1d1d1 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
