:root {
  color-scheme: dark;
}

body {
  --black: #3E3E3E;
  --red: #990000;
  --green: #00A600;
  --yellow: #999900;
  --blue: #0000B2;
  --magenta: #B200B2;
  --cyan: #00A6B2;
  --white: #BFBFBF;
  --brightBlack: #666666;
  --brightRed: #E50000;
  --brightGreen: #00D900;
  --brightYellow: #E5E500;
  --brightBlue: #0000FF;
  --brightMagenta: #E500E5;
  --brightCyan: #00E5E5;
  --brightWhite: #E5E5E5;
  --foreground: #F4F4F4;
  --background: 'transparent';
  --selection: #525252;
  --cursor: #606060;
}

body {
  font: 10px monaco;
  color: var(--foreground);
  margin: 0;
}
::selection {
  background: rgba(82,82,82,0.99);
}