body {
  margin: 0;
}
img, video {
  max-width: 100vw;
}

.container {
  font-family: sans-serif;
  text-align: center;
}

.excalidraw .App-menu_top .buttonList {
  display: flex;
}

.excalidraw-wrapper {
  height: 400px;
  position: relative;
}

:root[dir="ltr"]
  .excalidraw
  .layer-ui__wrapper
  .zen-mode-transition.App-menu_bottom--transition-left {
  transform: none;
}
body .excalidraw .App-bottom-bar {
  display: none;
}
.excalidraw .layer-ui__wrapper {
  display: none;
}

body .excalidraw.theme--dark {
  --theme-filter: hue-rotate(180deg) invert(100%);
}

.json.string {
  color: var(--color-2);
}
.json.boolean,
.json.number {
  color: var(--color-3);
}

.json.null {
  color: var(--color-8);
}

::marker {
  color: var(--color-8);
}

details > .content {
  padding-left: 13px;
}

details > .content > .property {
  padding-left: 10.59px;
}

details > .content > .property {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-left-padding::before {
  content: '▶';
  color: var(--ansi-245);
  width: 10.59px;
  display: inline-block;
}
