.remote-object.symbol,
.remote-object.string {
  color: var(--color-2);
}
.remote-object.boolean,
.remote-object.bigint,
.remote-object.number {
  color: var(--color-3);
}

.remote-object.undefined,
.remote-object.null {
  color: var(--color-8);
}

.remote-object.other {
  color: var(--color-6);
}

::marker {
  color: var(--color-8);
}

details > .content {
  padding-left: 13px;
}

details > .content > .property {
  padding-left: 10.59px;
}

.property-name.symbol {
  color: var(--color-2);
}
.property-name.dim {
  color: var(--ansi-245);
}

details > .content > .property {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-left-padding::before {
  content: '▶';
  color: var(--ansi-245);
  width: 10.59px;
  display: inline-block;
}

.remote-object > summary {
  white-space: pre;
}

.console-log {
  white-space: pre;
}

.console-log > .remote-object {
  vertical-align: text-top;
}