td {
  border: none;
  padding: 0 4px;
}
th {
  padding: 0 4px;
  font-weight: normal;
  text-align: left;
  text-decoration: underline;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
th::after {
  content: '\A0';
  display: inline-block;
  padding: 0 2px;
  text-decoration: unset;
  cursor: pointer;
  user-select: none;
}
th.sorted::after {
  content: '▼';
}
th.sorted.sort-asc::after {
  content: '▲';
}
th:active {
  color: var(--white);
}

tr {
  border: none;
  padding: 0;
}

table {
  width: 100%;
  border: none;
  border-collapse:collapse;
}
