<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>OpenSSH</string>
  <key>CFBundleIdentifier</key>
  <string>org.openssh</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>OpenSSH</string>
  <key>CFBundlePackageType</key>
  <string>FMWK</string>
  <key>CFBundleShortVersionString</key>
  <string>8.6.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>MinimumOSVersion</key>
  <string>ios_simulator_version_min</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>iPhoneSimulator</string>
  </array>
  <key>UIDeviceFamily</key>
  <array>
       <integer>1</integer>
   <integer>2</integer>
  </array>
  <key>DTPlatformName</key>
  <string>iphonesimulator</string>
  <key>DTPlatformVersion</key>
  <string>14.3</string>
  <key>DTSDKName</key>
  <string>iphonesimulator14.3</string>
</dict>
</plist>