.root-block {
  position: fixed;
  inset: 0;
  overflow: hidden;
}
.divider {
  background-color: #555;
  position: absolute;
  --divier-thickness: 1.5px;
  z-index: 99999;
}
.divider.horizontal {
  width: var(--divier-thickness);
  margin-left: calc(-1 * var(--divier-thickness) / 2);
  cursor: col-resize;
}
.divider.vertical {
  height: var(--divier-thickness);
  margin-top: calc(-1 * var(--divier-thickness) / 2);
  cursor: row-resize;
}
