.log-view {
  position: fixed;
  display: flex;
}
.log-view-scroller {
  overflow: hidden auto;
  padding: 4px;
  flex: 1;
}
.fullscreen-element {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: rgb(0,0,0,0.5);
  z-index: 2;
  position: absolute;
  inset: 0;
}

body.vscode-dark .fullscreen-element {
  backdrop-filter: initial;
  -webkit-backdrop-filter: initial;
  background: none;
}
body.vscode-dark .fullscreen-entry > :not(.fullscreen-element) {
  display: none;
}