
.editor-line {
  display: flex;
  flex-direction: row;
}
.command > .prefix,
.editor-line > .prefix {
  white-space: pre;
}
.editor-line > .prefix.clickable-dir-name {
  cursor: pointer;
  user-select: none;
}

.terminal {
  position: relative;
  top: -2px;
}
.command {
  display: flex;
}

.command.canceled {
  filter: grayscale(100%);
}

.command:not(:first-child),
.prompt:not(:first-child) {
  border-top: 1px solid var(--ansi-237);
  margin-top: 4px;
  padding-top: 4px;
}

.editor {
  line-height: 1.4em;
  letter-spacing: 0;
  cursor: text;
}
.below-prompt {
  height: 1.4em;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.6;
}
.connection-name {
  color: var(--ansi-237);
  padding-right: 2px;
}

.venv::before {
  vertical-align: bottom;
  margin-left: 2px;
  margin-right: 2px;
  --mask-image: url('./icons/language-python.svg');
  -webkit-mask: var(--mask-image);
  mask: var(--mask-image);
  -webkit-mask-size: cover;
  mask-size: cover;
  content: '';
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  background-color: var(--ansi-0);
}

.exit-code:empty {
  display: none;
}
.exit-code::before {
  content: '➔';
}
.exit-code {
  color: var(--ansi-9);
  padding-left: 4px;
  z-index: 1;
}

iframe {
  border: none;
  width: 100%;
}

iframe.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  z-index: 2000;
  background-color: rgba(0,0,0,1.0);
}

body:not(.vscode-dark) iframe.fullscreen {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(0,0,0,0.6);
}