
.editor-line {
  display: flex;
  flex-direction: row;
}
.command > .prefix,
.editor-line > .prefix {
  white-space: pre;
}
.terminal {
  position: relative;
  top: -2px;
}
body.fullscreen-entry {
  overflow: hidden;
}
.command {
  display: flex;
}

.command:not(:first-child),
.prompt:not(:first-child) {
  border-top: 1px solid var(--ansi-237);
  margin-top: 4px;
  padding-top: 4px;
}

.editor {
  line-height: 14px;
  letter-spacing: 0;
  cursor: text;
}
.below-prompt {
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.6;
}
.connection-name {
  color: var(--ansi-237);
  padding-right: 2px;
}

.fullscreen-element {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: rgb(0,0,0,0.5);
}