
.editor-line {
  display: flex;
  flex-direction: row;
  min-height: 20px;
}
.command > .prefix {
  cursor: pointer;
  user-select: none;
}
.command > .prefix,
.editor-line > .prefix {
  white-space: pre;
}
.editor-line > .prefix.clickable-dir-name {
  cursor: pointer;
  user-select: none;
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.ai-loading .editor-line {
  --border-width: 1px;
  border:var(--border-width) solid transparent;
  margin: calc( -1 * var(--border-width));
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), blue, red) 1;
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

.log-item-wrapper:not(:has(.fullscreen)) {
  position: relative;
}
.log-item-wrapper:not(.folded):has(.prefix:hover)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128,128,128,0.35);
  border-radius: 5px;
  pointer-events: none;
}
.log-item-wrapper:not(:first-child):not(.folded):has(.prefix:hover)::before {
  top: 4px;  
}

.terminal {
  position: relative;
  top: -2px;
}
.command {
  display: flex;
  /* there is terrible wiggling on linux if this is not an integer */
  min-height: 20px;
}

.command.canceled {
  filter: grayscale(100%);
}

.log-item-wrapper:not(:first-child),
.prompt:not(:first-child) {
  border-top: 1px solid var(--border-color);
  margin-top: 4px;
  padding-top: 4px;
}
.log-item-wrapper.folded > :not(:first-child) {
  display: none;
}
.log-item-wrapper.folded > :first-child .prefix {
  background: rgba(128,128,128,0.5);
  border-radius: 5px;
}

.editor {
  line-height: 1.4em;
  letter-spacing: 0;
  cursor: text;
}
.prompt {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.below-prompt {
  flex-basis: 1.4em;
  flex-grow: 1;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.6;
}
.connection-name {
  color: var(--border-color);
  padding-right: 2px;
}

.venv::before {
  content: "VENV";
  font-size: 7px;
  border: 1px solid currentColor;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 1px;
  border-radius: 2px;  
}

[data-language="py"] > .language,
[data-language="js"] > .language,
[data-language="sh"] > .language {
  vertical-align: bottom;
  margin-right: 2px;
  -webkit-mask: var(--mask-image);
  mask: var(--mask-image);
  -webkit-mask-size: cover;
  mask-size: cover;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-color: var(--ansi-8);
}

[data-language="py"] > .language {
  --mask-image: url('./icons/language-python.svg');
}

[data-language="js"] > .language {
  --mask-image: url('./icons/nodejs.svg');
}

[data-language="sh"] > .language {
  --mask-image: url('./icons/bash.svg');
}

[data-language="shjs"] > .venv + .language {
  display: none;
}

.exit-code:empty {
  display: none;
}
.exit-code::before {
  content: '➔';
}
.exit-code {
  color: var(--ansi-9);
  padding-left: 4px;
  z-index: 1;
}

iframe {
  border: none;
  width: 100%;
  display: block;
}

.browser-view-dummy.fullscreen,
iframe.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  z-index: 2000;
  background-color: var(--color-background);
}

body:not(.vscode-dark) iframe.fullscreen {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: var(--blurry-background);
}

.terminal.xterm .xterm-viewport {
  overflow: hidden;
}

.terminal-block:focus {
  outline: none;
}