.suggestions {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    border-radius: 3px;
    border-radius: 3px;
    border: 1px solid var(--ansi-237);
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    font-family: sans-serif;
    color: var(--text-color);
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 126px;
    width: 160px;
    text-overflow: ellipsis;
}
.suggestion {
    padding: 0 2px;
    font-family: monaco;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    contain: strict;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}
.suggestion.selected {
    background: var(--ansi-0);
}
.suggestion:hover {
    background: rgba(128, 128, 128, 0.1);
}