.description,
.suggestions {
    background: var(--suggest-background);
    backdrop-filter: var(--suggest-backdrop);
    -webkit-backdrop-filter: var(--suggest-backdrop);
}
.suggestions {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    padding: 0;
    margin: 0;
    list-style: none;
    font: var(--current-font);
    color: var(--color-text);
    overflow-y: scroll;
    overflow-x: hidden;
    width: var(--suggest-width);
    text-overflow: ellipsis;
    height: fit-content;
    vertical-align: bottom;
}
.positioned-at-bottom .suggestions {
    vertical-align: top;
}
.suggestion {
    padding: 0 2px;
    height: 1.4em;
    line-height: 1.4em;
    contain: strict;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}
.suggestion:hover {
    background: rgba(128, 128, 128, 0.1);
}
.suggestion.selected {
    background: var(--suggest-selected);
}
.suggest-popup {
    --suggest-width: 160px;
    --description-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    --suggest-background: var(--blurry-background);
    --suggest-backdrop: blur(4px);
}
body.glass-pane .suggest-popup,
body.vscode-dark .suggest-popup {
    --suggest-background: var(--cant-blur-background);
    --suggest-backdrop: initial;
}

.suggest-popup[data-css-tag="python"] {
    --description-width: 480px;
}
body.dark .suggest-popup {
    --suggest-selected: var(--ansi-0);
}
body.light .suggest-popup {
    --suggest-selected: var(--ansi-15);
}
.suggest-popup[data-css-tag="history"] {
    --suggest-width: 320px;
}
body.dark .suggest-popup[data-css-tag="history"] {
    --suggest-background: rgba(30, 0, 30, 0.9);
    --suggest-selected: hsl(300, 8%, 20%);
}
body.light .suggest-popup[data-css-tag="history"] {
    --suggest-background: hsla(300, 100%, 83%, 0.9);
    --suggest-selected: hsl(300, 80%, 95%);
} 
.description {
    width: var(--description-width);
    flex: 1;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    margin-left: 2px;
    height: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2px;
    font-size: 1.1em;
    color: var(--ansi-242);
    white-space: pre-wrap;
}
.suggest-popup[data-css-tag="python"] > .description {
    white-space: pre;
    overflow: auto;
    max-height: 200px;
    width: auto;
    min-width: var(--suggest-width);
    max-width: var(--description-width);
    
}
.description:empty {
    visibility: hidden;
}
.suggestion:not(.psuedo) > .prefix {
    text-shadow: 0.5px 0 0 currentColor;
    color: var(--color-bold);
    line-height: 1.4em;
}
body.light .suggestion:not(.psuedo) > .prefix {
    color: var(--ansi-32);
}
.suggestion > .suffix {
    color: var(--ansi-246)
}

.suggestion.psuedo {
    font-style: italic;
}
