.tab-bar {
  position: absolute;
  height: 30px;
  background-color: var(--tab-background);
  display: flex;
  flex-direction: row;
  align-items: end;
}

.maximize-button,
.minimize-button,
.close-button,
.add-button {
  width: 36px;
  height: 30px;
  line-height: 30px;
  background: transparent;
  border: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.maximize-button::before,
.close-button::before,
.minimize-button::before {
  content: '';
  -webkit-mask: var(--mask-image);
  mask: var(--mask-image);
  -webkit-mask-size: cover;
  mask-size: cover;
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  margin: auto;
  background-color: currentColor;
}
.maximize-button::before {
  --mask-image: url('./icons/window-maximize.svg');
}
.maximize-button.maximized::before {
  --mask-image: url('./icons/window-restore.svg');
}
.close-button::before {
  --mask-image: url('./icons/window-close.svg');
}
.minimize-button::before {
  --mask-image: url('./icons/window-minimize.svg');
}
.add-button::before {
  content: '＋';
  font-weight: bold;
}

.maximize-button:hover,
.minimize-button:hover,
.add-button:hover {
  background-color: var(--tab-hover);
}
.close-button:hover {
  background-color: #F00;
  color: #FFF;
}


.add-button:active {
  background-color: var(--tab-foreground);
}
.tab-header {
  flex: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  background-color: transparent;
  border-right: 1px solid var(--tab-border);
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tab-header:not(.selected):hover {
  background-color: var(--tab-hover);
}
.tab-header.selected {
  -webkit-app-region: drag;
}
.tab-header.selected,
.tab-header:not(.selected):active {
  background-color: var(--tab-foreground);
}
