::-webkit-scrollbar {
  background: var(--black);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--brightBlack);
}

body {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}
.header {
  padding: 2px 2px;
  overflow: hidden;
  color: var(--foreground-2);
  background: var(--background-1);
  flex: 0 1 auto;
  user-select: none;
  -webkit-user-select: none;
}
.header > .title {
  flex: 0 1 auto;
  text-align: center;
  text-overflow: ellipsis;
  cursor: default;
}
.header > .close {
  position: absolute;
  right: 0;
  top: 0;
  appearance: none;
  -webkit-appearance: none;
  padding: 2px;
}
.header > .close:hover {
  background: rgba(128,128,128,0.25);
  border-radius: 5px;
}
.editor-container {
  position: relative;
  flex: 1;
  overflow: hidden;
}
.footer {
  color: var(--foreground-2);
  background: var(--background-2);
  padding: 2px 2px;
  justify-content: right;
  display: flex;
  border-top: 0.5px solid var(--border-color);
  font-family: system-ui, sans-serif;
  position: relative;
}
.footer > div {
  margin: 0 8px;
}
body.dark {
  --background: #111;
  --background-2: #222;
  --border-color: #666;
}
body.light {
  --border-color: #AAA;
}

.progress {
  width: calc(50px * var(--progress));
  height: 5px;
  border-radius: 2px;
  align-self: center;
  background: var(--ansi-5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
body.light .progress {
  background: var(--ansi-13);
}