::-webkit-scrollbar {
  background: var(--black);
  width: 10px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background: var(--brightBlack);
}

body {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}
.header {
  padding: 2px 2px;
  overflow: hidden;
  color: var(--foreground-2);
  background: var(--backround-2);
  flex: 0 1 auto;
  user-select: none;
  -webkit-user-select: none;
}
.header > .title {
  flex: 0 1 auto;
  text-align: center;
  text-overflow: ellipsis;
  cursor: default;
}
.header > .close {
  position: absolute;
  right: 0;
  top: 0;
  appearance: none;
  -webkit-appearance: none;
  padding: 2px;
}
.header > .close:hover {
  background: rgba(128,128,128,0.25);
  border-radius: 5px;
}
.editor-container {
  position: relative;
  flex: 1;
  overflow: hidden;
}
