::-webkit-scrollbar {
  background: var(--black);
  width: 10px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background: var(--brightBlack);
}

body {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}
.header {
  padding: 2px 2px;
  overflow: hidden;
  color: #d4d4d4;
  background: #111111;
  flex: 0 1 auto;
  user-select: none;
  -webkit-user-select: none;
  text-align: center;
  text-overflow: ellipsis;
  cursor: default;
}
.editor-container {
  position: relative;
  flex: 1;
  overflow: hidden;
}
